/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #BDC3C7, #ECF0F1); /* 연한 회색 그라데이션 */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.search-container {
    margin-top: 20px;
}

#search-bar {
    padding: 8px;
    width: 300px;
}

#search-icon {
    padding: 8px;
    margin-left: 5px;
    cursor: pointer;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    position: relative;
    z-index: 10;
}

/* 개별 포트폴리오 항목 */
.portfolio-item {
    width: 250px;
    height: auto; /* 높이를 자동으로 조정 */
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, margin 0.3s ease;
    position: relative; /* 트로피 아이콘을 절대 위치로 설정하기 위해 상대적으로 설정 */
    background: linear-gradient(45deg, #a4a4a4, #bdbaba, #9e9e9e); /* 기본 배경을 투명으로 설정 */
    display: inline-block; /* 아이템들이 한 줄에 배열되도록 */
    overflow: visible; /* 트로피 아이콘이 잘리지 않도록 설정 */
}

/* 각 포트폴리오 항목 호버 시 */
.portfolio-item:hover {
    transform: scale(1.1); /* 호버 시 블록 크기 확대 */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* 그림자 효과 강화 */
    margin-top: -10px; /* 호버 시 블록이 위로 이동 */
    margin-bottom: -10px; /* 호버 시 블록이 아래로 이동 */
    z-index: 5; /* 호버된 블록을 최상단에 올리기 */
}

/* 각 포트폴리오 항목 링크 */
.portfolio-item a {
    text-decoration: none;  /* 링크 밑줄 제거 */
    color: inherit;         /* 링크 색상 상속 */
    display: block;         /* 링크를 블록 요소로 설정 */
}

/* 프로젝트 배너 스타일 */
.project-banner {
    padding: 10px;
    background: #ddd;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    position: relative;
}

/* 날짜 스타일 */
.project-date {
    font-size: 0.9em;
    color: #777;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1; /* 날짜가 다른 콘텐츠 위로 오지 않도록 */
}

/* 카테고리별 배경 그라데이션 */
.category-web {
    background: linear-gradient(45deg, #00aaff, #0066cc, #3399ff); /* 웹 카테고리 */
}

.category-game {
    background: linear-gradient(45deg, #ff6347, #ff4500, #ff7777); /* 게임 카테고리 */
}
.category-external {
    background: linear-gradient(45deg, #ffeb3b, #fbc02d, #f9a825); /* 대외활동 카테고리 */
}
.category-ts {
    background: linear-gradient(45deg, #b4ac5d, #fbc02d, #f9a825); /* 대외활동 카테고리 */
}
.category-js {
    background: linear-gradient(45deg, #eae3a8, #fdd776, #d8b680); /* 대외활동 카테고리 */
}
.category-flutter {
    background: linear-gradient(45deg, #11e3e3, #297cb4, #4324b5); 
}
.category-konkuk {
    background: linear-gradient(45deg, #3ddc84, #56b62b, #74c69d); /* 안드로이드 카테고리 */
}

.category-java {
    background: linear-gradient(45deg, #e52e71, #c14066, #f15a5a); /* 자바 카테고리 */
}

.category-c {
    background: linear-gradient(45deg, #9370db, #4b0082, #6a3d9f); /* C 카테고리 */
}

.category-cpp {
    background: linear-gradient(45deg, #8a2be2, #6a5acd, #7f6aad); /* C++ 카테고리 */
}
/* 이미지 슬라이더 스타일 */
.image-slider-container {
    position: relative;
    width: 100%;
    height: 500px; /* 슬라이더의 높이는 필요에 맞게 조정 */
    overflow: hidden;
}

.image-slider {
    display: flex;
    animation: slide 100s infinite;
}

.slider-item {
    flex: 0 0 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* 슬라이드 애니메이션 */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}

/* 슬라이더 위 반투명 검정 오버레이 */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

/* 텍스트 스타일 */
.text-container {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    z-index: 2;
}

/* 타이핑 애니메이션 */
.typing-animation {
    font-size: 2.5em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #fff;
    width: 0;
    animation: typing 4s steps(15) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* 부연 설명 스타일 */
.description {
    font-size: 1.2em;
    margin-top: 10px;
}

/* 검색창과 블록 사이 간격 */
.search-container {
    margin-top: 20px;
    z-index: 1;
}


/* 트로피 아이콘 스타일 */
.award-icon {
    position: absolute;
    top: -10px; /* 트로피 아이콘이 항목의 상단을 벗어나지 않도록 설정 */
    right: 10px;
    font-size: 24px;
    z-index: 10; /* 트로피 아이콘이 항목보다 위로 표시되도록 설정 */
}

/* 프로젝트 제목 스타일 */
.project-title {
    font-size: 1.8em; /* 제목 폰트 크기 키움 */
    font-weight: 700; /* 제목 폰트 굵게 */
    color: #272626;
    transition: color 0.3s ease, font-size 0.3s ease; /* 호버 시 색상 변화와 크기 변화 추가 */
}

.portfolio-item:hover .project-title {
    color: #ffffff; /* 호버 시 흰색으로 변경 */
    font-size: 1.9em; /* 호버 시 폰트 크기 키움 */
}

/* 프로젝트 설명 스타일 */
.project-description {
    font-size: 1.0em;
    color: #ccc;
}

/* 각 포트폴리오 항목 이미지 */
.portfolio-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

/* 각 포트폴리오 항목 호버 시 다른 항목들이 움직이도록 스타일 추가 */
.portfolio-item:hover ~ .portfolio-item {
    transform: translateX(10px); /* 옆으로 살짝 이동 */
}

.portfolio-item:hover ~ .portfolio-item,
.portfolio-item:hover ~ .portfolio-item:hover {
    transform: translateY(10px); /* 아래로 살짝 이동 */
}
